<tr>
    <td> <%= project.id%></td>
    <td> <%= link_to team_project_path(project) do %>
      <%= project.title %>
        <% end %>
    </td>
    <td> <%= link_to("编辑", edit_team_project_path(project.team, project), class: "btn btn-sm btn-success")%>
    <%= link_to("删除", team_project_path(project.team, project), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "确定吗"})%></td>
    <td> <%= project.created_at%></td>
</tr>
