<div class="col-md-12">
  <div class="team">
    <%= link_to("New team", new_team_path, class: "btn btn-primary pull-right") %>
    <%= link_to("动态", events_path, class: "btn btn-danger pull-right") %>    
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>名字</td>
        <td>操作</td>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.id %></td>
          <td><%= link_to(team.name, team_path(team)) %></td>
          <td>
              <%= link_to("Edit", edit_team_path(team), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", team_path(team),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>

          <td>
            <span class="pull-right">
              <% if current_user && current_user.is_member_of?(team) %>
                <label class="label label-success"> 团队成员 </label>
                  <%= link_to("退出团队", quit_team_path(team), method: :post, class: "btn btn-default") %>
              <% else %>
                <label class="label label-warning"> 不是团队成员 </label>
                 <%= link_to("加入团队", join_team_path(team), method: :post, class: "btn btn-default") %>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
