<tr>
<td> <%= todo.id%></td>
<td> <%= link_to team_project_todo_path(team, project, todo) do %>
  <%= todo.title %>
    <% end %>
</td>
<td>
<% if todo.assignment.present? and todo.assignment.new_executor.present? %>
  <%= link_to todo.assignment.new_executor.email, "#" %>
<% else %>
   <% if todo.assignment.present? and todo.assignment.origin_executor.present? %>
    <%= link_to todo.assignment.origin_executor.email, "#" %>
  <% else %>
    <%= "还没有指定的完成者" %>
  <% end %>
<% end %>
</td>
<td>
  <% if todo.assignment.present? and todo.assignment.origin_deadline.present? %>
  <%= todo.assignment.origin_deadline.strftime("%Y年%-m月%d日") %>
  <% else %>
  <%= "没有截止日期" %>
<% end %>
</td>
<td> <%= link_to("编辑", edit_team_project_todo_path(team, project, todo), class: "btn btn-sm btn-success")%>
<%= link_to("删除", team_project_todo_path(team, project, todo), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "确定吗"})%>


  <% case todo.aasm_state %>
  <% when "todo_created" %>
    <%= link_to("接受任务",
                receive_todo_team_project_todo_path(team, project, todo),
                class: "btn btn-default btn-sm", method: :post) %>
    <%= link_to("完成任务",
                finish_todo_team_project_todo_path(team, project, todo),
                class: "btn btn-default btn-sm", method: :post) %>
    <%= link_to("取消任务",
                cancel_todo_team_project_todo_path(team, project, todo),
                class: "btn btn-default btn-sm", method: :post) %>
  <% when "received" %>
  <%= link_to("完成任务",
              finish_todo_team_project_todo_path(team, project, todo),
              class: "btn btn-default btn-sm", method: :post) %>
  <%= link_to("取消任务",
              cancel_todo_team_project_todo_path(team, project, todo),
              class: "btn btn-default btn-sm", method: :post) %>
  <% when "finished" %>
  <%= link_to("取消任务",
              cancel_todo_team_project_todo_path(team, project, todo),
              class: "btn btn-default btn-sm", method: :post) %>
  <%= link_to("重新领取任务",
              reopen_todo_team_project_todo_path(team, project, todo),
              class: "btn btn-default btn-sm", method: :post) %>
  <% when "todo_canceled" %>
  <%= link_to("恢复任务",
              renew_todo_team_project_todo_path(team, project, todo),
              class: "btn btn-default btn-sm", method: :post) %>
  <% end %>
</td>
<td>
  <% case todo.aasm_state %>
  <% when "todo_created" %>
          新任务

  <% when "received" %>
          已领取任务

  <% when "finished" %>
          已完成任务

  <% when "todo_canceled" %>
          已取消任务
  <% end %>
</td>
<td> <%= todo.created_at.strftime("%Y年%-m月%d日%H时%M分")%></td>
</tr>
